
  ol, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .registration_form {
  }
  .inner_wrapper {
 border: 1px solid #ccc;
 padding: 20px;
}
.form-heAD h3 {
  text-align: center;
  background-color: #000;
  max-width: 500px;
  margin: 0 auto 15px auto;
  color: #fff;
  padding: 7px;
}
h4 { font-size: 17px;
  font-weight: 600;}

.datepicker {
    float: right;
  }
  .quater-width {
    width: 30%;
    float: right;
  }
   .inner_wrapper label {
    display: inline-block;

    vertical-align: bottom;
    margin-bottom: 0;
    font-size: 15px;
    margin-right: 10px;
  }
 .inner_wrapper .form-control {
    border: none;
  border-bottom: 1px dashed #a5a4a4;
  border-radius: 0;
  box-shadow: none;
  display: inline-block;
  width: 70%;
  vertical-align: bottom;
}
 .inner_wrapper .form-control:focus {
  border: none;
  box-shadow: none;
  border-bottom: 1px dashed #a5a4a4;
}
.full-width {
  width: 100%;
}
.title {
  line-height: 26px;
  font-size: 15px;
}
.title span {
  display: block;
}
.upload_img {
 border: 1px solid #ccc;
 display: block;
 overflow: hidden;
 position: relative;
 width: 150px;
 height: 150px;
 padding:10px;
}
.upload_img img {  width:  100%; height:130px;}
.upload_img span { width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.upload_img input[type="file"] {
 height: 100%;
 left: 0;
 opacity: 0;
 position: absolute;
 top: 0;
 width: 100%;
 cursor: pointer;
}
.radio {
  margin: 0;
}
.radio h4 {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.radio label {
  width: 14%;
}
.half-width label {

}
.half-width .form-control {

}
.half-width.radio label {
  width: 30%;
  padding-left: 0;
}
.registration_form p {
  font-size: 15px;
}
input[type="radio"], input[type="checkbox"] {
  display: none;
}
input[type="radio"] + label span, input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 5px 0 0;
  vertical-align: middle;
  cursor: pointer;
}
input[type="radio"] + label span, input[type="checkbox"] + label span {
  background-color: transparent;
  border: 1px solid #ccc;
}
input[type="radio"]:checked + label span, input[type="checkbox"]:checked + label span {
  background-color: transparent;
}
input[type="radio"] + label span, input[type="radio"]:checked + label span, input[type="checkbox"] + label span ,input[type="checkbox"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
input[type="radio"]:checked + label span:before, input[type="checkbox"]:checked + label span:before {
  content: "\f00c";
  font-family: FontAwesome;
  width: 17px;
  height: 17px;
  line-height: 17px;
  display: block;
}
table input[type="text"] {
  border: none;
  width: 100%;
  padding: 0;
}
table input[type="text"]:focus {
  border: none;
}
.full-width label {
  width: 100%;
  padding-left: 0;
}
.l_gaurdia label {
  width: 30%;
}
.l_gaurdia label small {
  display: block;
  font-weight: 300;
}
.l_gaurdia .form-control {
  width: 68%;
}
.document {
}
.document label {
  width: 100%;
  margin: 12px 0;
}
.document .checkbox-inline { margin: 5px 0 0 0;}
.document input[type="file"] {
  width:84px;
  overflow: hidden;
  margin-bottom: 12px;
}
.document li {
  margin: 0;
}
.btn {
  border-radius: 0;
  padding: 8px 30px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
    /*text-shadow: 1px 1px 1px #000;*/
  }
textarea.form-control { width: 100%; border: 1px solid #ccc; margin: 10px 0;}
textarea.form-control:focus { border: 1px solid #ccc;}
.form-heAD {
    text-align: center;
    background-color: rgb(28,53,131);
    max-width: 413px;
    margin: 0 auto 15px auto;
    color: #fff;
    padding: 14px;
}
.blue{color: #1C3583}