* {
	outline: medium none;
}
html {
	box-sizing: border-box;
	height: 100%;
}
body {
	background-color: #fff;
	color: #333;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	min-height: 100%;
	position: relative;
}
ul, ol, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	outline: medium none;
	padding: 0;
}
img {
	display: block;
	height: auto;
	max-width: 100%;
}
iframe {
	max-width: 100%;
}
a:hover, a:focus {
	outline: medium none;
}
.clear {
	clear: both;
}
.page-wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}
section {
	padding: 40px 0;
}
hr {
	border-top: 1px solid #e2dfdf;
}
p.lead {
	font-size: 17px;
	letter-spacing: 2px;
}
.margin30 {
	margin: 30px 0;
}
.social-links {
	left: 0;
	margin-top: -100px;
	position: fixed;
	top: 50%;
	z-index: 9;
}
.social-links ul {
}
.social-links ul li {
}
.social-links ul li a {
	background-color: #3b5998;
	color: #fff;
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	transition: all 0.2s ease-in-out 0s;
	width: 50px;
}
.social-links ul li a.twitter {
	background-color: #00aced;
}
.social-links ul li a.google-plus {
	background-color: #dd4b39;
}
.social-links ul li a.linkedin {
	background-color: #007bb6;
}
.social-links ul li a:hover {
	width: 60px;
}
header {
	letter-spacing: -4px;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
#logo {
	background-color: #E7E5F6;
	display: inline-block;
	padding: 13px 12px;
	vertical-align: middle;
	width: 10%;
	letter-spacing: 0;
}

.header-right {
    display: inline-block;
    letter-spacing: 0;
    position: relative;
    vertical-align: middle;
    width: 90%;
    background-color: #F6F6F9;
}
.header-right-top {
	background-color: #242582;
	color: #eeeeee;
	padding: 4px 15px;
	position: relative;
}
.header-right-top ul {
}
.header-right-top ul li {
	display: inline-block;
	font-family: "Oswald", sans-serif;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 1px;
	list-style: outside none none;
	margin-right: 26px;
}
.header-right-top li a {
	color: #eee;
	margin: 0 4px;
	text-decoration: none;
	font-size: 18px;
}
.header-right-top li i {
	margin-right: 5px;
}
.tp-enquiryBtn i {
	color: #ffbe2c;
}
.header-right .search_form {
	background-color: #ffbe2c;
	display: none;
	padding: 12px;
	position: absolute;
	right: 0;
	top: 100%;
	width: 40%;
	z-index: 9;
}

.navigation {
	background-color: transparent;
	position: relative;
}
.navigation::before, .navigation::after {
}
.navigation::before {
}
.navigation::after {
	background-color: #39393a;
	left: auto;
	right: 0;
}
.navbar-default {
	background-color: transparent;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	min-height: 100%;
}
.navbar-default .navbar-brand {
	display: none;
	overflow: hidden;
}
.navbar-default .navbar-collapse {
	padding: 0;
}
.navbar-default .navbar-brand span {
	border: 1px dashed #647276;
	border-radius: 50%;
	display: block;
	font-family: Arial;
	height: 161px;
	padding: 25px 10px;
	position: relative;
	width: 161px;
}
.navbar-default .navbar-brand span img {
}
.navbar-default .navbar-nav > li > a {
	/*border-right: 1px solid #ADB0F9;*/
	color: #333;
	font-family: "Oswald", sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 25px 17px;
	text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a span {
	margin-left: 10px;
}
.navbar-default .navbar-nav > li:last-child a {
	border: none;
}
.navbar-nav > li > .dropdown-menu {
	background-color: rgb(210, 210, 240);
	border: medium none;
	border-radius: 0;
	left: 0;
	min-width: 200px;
	padding: 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > li > a:hover {
    border-bottom: 1px solid #5959A5;
    color: #817fce;
    background-color: transparent;
    border-right-color: transparent;
}
.dropdown-menu > li > a {
	border-bottom: 1px solid #f4f6f9;
	border-top: 1px solid #f4f6f9;
	color: #2f3436;
	font-family: "Oswald", sans-serif;
	padding: 10px 20px;
	text-transform: uppercase;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	background-color: #2f3436;
	color: #eeeeee;
	text-decoration: none;
}
.navbar-right {
	margin-right: 0;
}
.banner {
	position: relative;
	z-index: 1;
}
/*Header Fix Css Start*/
.affix {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	background-color: #eee;
}
.affix .header-right-top {
	display: none;
}
.affix #logo {
	vertical-align: bottom;
	width: 6%;
	/*padding: 10px 10px;*/
}
.affix .header-right {
	width: 94%;
}
.affix .navbar-default .navbar-nav > li > a {
	padding: 26px 20px;
}
/*Header Fix Css Start*/
.tp-bannertimer {
	background-color: #f9c301;
}
.tp-caption {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.tp-caption span {
	color: #f19827;
}
.tp-caption.large {
	font-size: 50px;
}
.tp-caption.medium {
	font-size: 33px;
}
.tp-caption.button .btn {
	background-color: #d98733;
	border: 1px solid #b9742d;
	border-radius: 0;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	padding: 2px;
	text-decoration: none;
	text-transform: uppercase;
}
.tp-caption.button span {
	background-color: #d98733;
	box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.75);
	color: #fff;
	display: block;
	padding: 9px 15px;
}
.booking-form {
	top: 25%;
	left: auto;
	right: 7%;
	position: absolute;
	max-width: 330px;
	z-index: 9999;
}
.booking-form .book-title {
	background-color: rgb(162, 175, 248);
	color: #2f3436;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	float: left;
	font-family: "Montserrat", sans-serif;
	height: 64px;
	justify-content: center;
	padding: 10px 34px;
	width: 100%;
}
.booking-form .book-title h2 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
	text-transform: uppercase;
}
.booking-form .book-title p {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 22px;
}
.booking-form form {
	background-color: rgba(231, 231, 229, 0.83);
	display: inline-block;
	padding: 20px;
	width: 100%;
}
.booking-form form .form-group {
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 7px;
	position: relative;
	vertical-align: middle;
	width: 100%;
}
.booking-form form .form-group .form-control {
	background-color: #e7e7e5;
	border: 1px solid #cfcfcf;
	border-radius: 0;
	box-shadow: none;
	height: 40px;
	padding: 10px 52px 10px 15px;
	width: 100%;
	-webkit-appearance: none;
}
.booking-form form .form-group i {
	background-color: #2f3436;
	color: #ffffff;
	height: 40px;


	line-height: 40px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 40px;
}
 .booking-form form .form-group .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #2f3436;
}
.booking-form form .form-group .form-control::-moz-placeholder { /* Firefox 19+ */
 color: #2f3436;
}
.booking-form form .form-group .form-control:-ms-input-placeholder { /* IE 10+ */
 color: #2f3436;
}
.booking-form form .form-group .form-control:-moz-placeholder { /* Firefox 18- */
 color: #2f3436;
}
.booking-form form .form-group select {
	-moz-appearance: none;
	background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%), linear-gradient(to right, #2f3436, #2f3436);
	background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
	background-repeat: no-repeat;
	background-size: 5px 5px, 5px 5px, 2.8em 3.5em;
	box-sizing: border-box;
	color: #3a3939;
}
.booking-form form .btn {
    background-color: #c31212;
    border-color: #c31212;
    color: #fff;
    border-radius: 0;
    display: inline-block;
    height: 46px;
    margin-left: 7px;
    text-transform: uppercase;
    vertical-align: middle;
    font-weight: bold;
    font-size: 19px;
}
.booking-form form:hover .btn{ background-color: #222; 
	color: #fff; 
	border: 1px solid #222; 
	transition: all .5s;
}
/**/
.scrollToTop {
	background-color: #000000;
	border-radius: 50%;
	bottom: 5px;
	color: #fff;
	cursor: pointer;
	display: none;
	height: 50px;
	position: fixed;
	right: 5px;
	text-align: center;
	width: 50px;
	z-index: 1005;
}
.scrollToTop i {
	font-size: 24px;
	line-height: 50px;
}

@media (max-width: 767px) {
.scrollToTop {
	background-color: rgba(0, 0, 0, 0.4);
	height: 40px;
	width: 40px;
}
.scrollToTop i {
	font-size: 20px;
	line-height: 40px;
}
}
/*.page-top {
	background: rgba(0, 0, 0, 0) url("../img/canyoning-in-nepal.jpg") no-repeat center center;
	padding: 50px 0 50px;
	text-align: center;
	z-index: 0;
}*/
.page-top .page-title h2 {
	color: #fff;
}
.dark-translucent {
	position: relative;
}
.dark-translucent::before {
	background-color: rgba(0, 0, 0, 0.78);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.page-title {
}
.page-title h2 {
	color: #2f3436;
	font-family: "Oswald", sans-serif;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 10px;
}

/*custom css*/
.b{border: 1px solid red;}
.top_call{font-size: 22px; font-weight: bold;}
.header-right-top ul {}
.header-right-top ul  li.Social{font-size: 16px;margin-right: 0px;vertical-align: middle;}
.header-right-top ul li.Social a{
	width: 32px;
height: 32px;
line-height: 32px;
border: 1px solid #fff;
display: block;
text-align: center;
border-radius: 50%;
	margin: 0px 1px;
	padding: 0px 8px;
}
.header-right-top ul li.Social a i {
    color: #fff;
}
/*about*/
.AboutUs{}
.AboutUs h1 {
    font-size: 35px;
    color: #292929;
    padding: 40px 0;
    line-height: 40px;
}
.about_bgimg {
    background: url(../img/about2.JPG) no-repeat center center fixed;
        background-size: auto auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.about_info{background-color: rgba(0,0,0,.7);padding: 44px 52px;}
.about_info h3{color: #fff;font-size: 28px; text-transform: uppercase;font-family: "Oswald", sans-serif;}
.about_info p{color: #fff;font-weight: 300;padding: 28px 0;text-align: justify;line-height: 22px;}
.container-fluid{margin: 0; padding:0;}
.pad0{padding: 0;}
.main_btn .btn-outline {
    border: 1px solid #817764;
    border-radius: 0;
    margin: 1px 0;
    color: #817764;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.main_btn .btn-outline:hover {
    color: #817764;
}
.btn-outline:before {
	pointer-events: none;
	content: '';
	position: absolute;
	border: #817764 solid 1px;
	top: -16px;
	right: -16px;
	bottom: -16px;
	left: -16px;
	opacity: 0;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: top, right, bottom, left;
	transition-property: top, right, bottom, left;
}
.btn-outline:hover:before, .btn-outline:focus:before, .btn-outline:active:before {
	top: -5px;
	right: -5px;
	bottom: -5px;
	left: -5px;
	opacity: 1;
}
.btn-outline:hover {
	color: #817764;
}
/*about*/
/*HEADING CSS*/
.title {
    max-width: 850px;
    margin: 24px auto;
}
.title h2 {
	/*font-family: "Oswald", sans-serif;*/
	color: #292929;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 30px;
}
.seperator {
	max-width: 200px;
	margin: 0 auto;
	position: relative;
}
.seperator .square-box {
	width: 10px;
	height: 10px;
	background-color: #2E3192 !important;
	display: inline-block;
	margin: 0 auto;
	vertical-align: middle;
}
.seperator:before, .seperator:after {
	content: "";
	width: 40%;
	height: 2px;
	display: inline-block;
	background-color: #292929;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	left: 0;
}
.seperator:after {
	left: auto;
	right: 0;
}
/*.light-text .seperator:after, .light-text .seperator:before, .seperator .square-box {
	background-color: #fff !important;
}*/
/*HEADING CSS*/

/*Cause*/
.main_cause{border: 1px solid #d6d3d3; position: relative; overflow: hidden;}
.img_cause{overflow: hidden;}
.img_cause img {
    transition: all 0.5s ease-in-out;
}
.img_cause:hover img{cursor: pointer;transform: scale(1.1);}
.img_cause:hover .cause_detail{cursor: pointer;}
.cause_title{padding: 14px;}
.cause_title h3 {
    font-family: "Oswald", sans-serif;
    color: rgb(131, 131, 131);
    font-weight: 300;
}
.cause_title p{padding: 13px 0 0 0; color:#838383; font-size: 13px;}
.cause_bg{background-color: #f8f8f8;}
.cause_detail{padding: 18px;}
.cause_detail ul{}
.cause_detail ul li{list-style: none;padding: 4px 0; font-size: 13px;}
.cause_detail ul li span {
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    display: inline-block;
    width: 100px;
}
.main_cause:hover {
    box-shadow: 7px 12px 10px -1px #e8e8e8;
}
.img_cause:hover img{overflow: hidden;}
/*Cause*/
/*Testimonial*/
.parallax-bg {
	position: relative;
	background: url(../img/testibg.jpg) no-repeat;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 1;
	color: #fff;
	padding: 50px 0 60px 0;
}
.parallax-bg:before {
	content: "";
	width: 100%;
	height: 100%;
	/*background-color: rgba(0, 0, 0, 0.74);*/
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.testimonial-wrapper {
	padding: 0 20px;
}
.testimonial-wrapper .item {
	text-align: center;
}
.testimonial {
	padding: 0px 20px 7px 20px;
	color: #fff;
	max-width: 700px;
	margin: 0 auto;
}
.testimonial:after {
	content: "";
}
.testimonial .circle-img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin: 12px auto;
	-webkit-box-shadow: -2px 2px 1px -1px rgba(0, 0, 0, 0.46);
	-moz-box-shadow: -2px 2px 1px -1px rgba(0, 0, 0, 0.46);
	-o-box-shadow: -2px 2px 1px -1px rgba(0, 0, 0, 0.46);
	-ms-box-shadow: -2px 2px 1px -1px rgba(0, 0, 0, 0.46);
	box-shadow: -2px 2px 1px -1px rgba(0, 0, 0, 0.46);
}
.testimonial p {
	font-size: 15px;
	line-height: 22px;
	position: relative;
}
.testimonial p:before, .testimonial p:after {content: "\f10d";font-family: 'FontAwesome';margin: 0 10px 0 0;font-size: 20px;}
.testimonial p:after {content: "\f10e";margin: 0 0 0 10px;}
.testimonial-wrapper .test-footer {
}
.testimonial-wrapper .test-footer strong {
	display: block;
	text-transform: uppercase;
}
.testimonial-wrapper .test-footer span {
	display: block;
	font-weight: 300;
	letter-spacing: 1px;
}
.owl-dots {
	max-width: 900px;
	margin: 32px auto 0 auto;
	display: block;
	text-align: center;
}
.owl-dots .owl-dot {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #e6e4e4;
	margin: 0 4px;
	border-radius: 50%;
}
.owl-dots .owl-dot.active {
	background-color: #2E3192;
}
.owl-nav { display: none;}
.section-content{margin-top: 70px;}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
.scrollToTop {
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.4);
}
.scrollToTop i {
	line-height: 40px;
	font-size: 20px;
}
}
.testimonial-wrap li {
	list-style: none;
	display: block;
	position: relative;
	padding-left: 90px;
	margin-bottom: 15px;
	color: #333;
}
.testimonial-wrap li span.avtar {
	width: 70px;
	height: 70px;
	line-height: 70px;
	font-size: 32px;
	background-color: #ccc;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -45px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	overflow: hidden;
}
.testimonial-wrap li .testimonials {
	border: 1px solid #ccc;
	padding: 15px 15px;
	position: relative;
	background: transparent;
	min-height: inherit;
}
.testimonial-wrap li .testimonials:before, .testimonial-wrap li .testimonials:after {
	content: "";
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #ccc;
	display: block;
	position: absolute;
	top: 50%;
	left: -10px;
	margin-top: -10px;
}
.testimonial-wrap li .testimonials:after {
	border-right: 10px solid #fff;
	left: -8px;
}
.testimonial-wrap li p {
	font-size: 13px;
	line-height: 22px;
	margin-top: 6px;
}
.testimonial-wrap li .name {
	font-weight: bold;
}
.testimonial-wrap li .date {
	font-size: 12px;
	font-style: italic;
	margin-left: 5px;
	float: right;
}
.testi h2{color: #fff;}
.sep_testi:before, .sep_testi:after {background-color: #fff;}
/* *Footer start* */
.footer {
	background-color: #0c0c0c;
	padding: 40px 20px 0 20px;
}
.footer .footer-logo {
	display: block;
	width: 95px;
}
.footer p {
	color: #fff;
	font-size: 13px;
	margin: 15px 0;
}
.footer a {
	color: #9c9697;
	font-size: 12px;
	text-decoration: none;
}
.footer h2 {
	color: #bababa;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-weight: 600;
}
.footer ul {
}
.footer ul li {
	display: block;
	list-style: none;
}
.footer ul li a {
	font-size: 14px;
	color: #fff;
	display: block;
	padding: 11px 0;
	border-bottom: 1px dashed #474747;
	border-top: 1px dashed #202020;
}
.footer ul li:first-child a, .footer ul.footer-contact li:first-child {
	border-top: none;
}
.footer ul li:last-child a, .footer ul.footer-contact li:last-child {
	border-bottom: none;
}
.footer .sitemap {
	background: url(../img/dotted-map-black-big.png) no-repeat center center;
	background-size: 100%;
}
.footer ul.social-media li {
	 display: inline-block; 
	margin-top: 23px;
	color: #fff;
	position: relative;
	height: 50px;
	padding-left: 34px;
}
.footer ul.social-media li a {
	width: 32px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #3f3d3d;
	/*! background-color: #242582; */
	text-align: center;
	/*! border-radius: 50%; */
	padding: 0;
	font-size: 17px;
	overflow: hidden;
	position: absolute;
	top: -10px;
	left: 0;
}
.footer ul.social-media li a i {
}
.footer ul.footer-contact li {
	color: #fff;
	border-bottom: 1px dashed #474747;
	border-top: 1px dashed #202020;
	position: relative;
	padding-left: 25px;
	padding:10px 10px 10px 28px;
}
.footer ul.footer-contact li i {
	position: absolute;
	top: 12px;
	left: 0;
}
.footer ul.footer-contact li a {
	border: none;
	text-decoration: none;
	padding: 0;
}
.footer .bottom-footer {
	border-top: 1px solid #2d2c2c;
	margin-top: 30px;
	padding: 15px 0;
}
/*.footer .bottom-footer small {
	color: #fff;
}
.footer .bottom-footer small + small {
	float: right;
}
.footer .bottom-footer a.privacy {
	color: #fff;
	border-left: 1px solid #fff;
	margin-left: 10px;
	padding-left: 10px;
}*/
.bottom-footer {
    /*background-color: #2d3233;*/
    border-top: 1px solid #393e40;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    padding: 20px 0;
}
.bottom-footer p {
    float: left;
    margin-bottom: 0;
}
.bottom-footer p + p {
    float: right;
}
.wrap_post{border-bottom: 1px dashed #222;padding:14px 0;}
.no-boredr{border-bottom: 1px dashed #0C0C0C}
.thumb_img{display:table-cell; vertical-align: top;}
.thumb_img img{}
.post_info{display:table-cell; vertical-align: middle;}
.post_info h5{font-size: 16px;margin-left: 16px; color: #fff;}
.post_info h6{margin: 16px;font-size: 13px;}
/* *Footer End* /

/*ABOUT INNER*/
.page-top {
	background: rgba(0, 0, 0, 0) url("../img/banner.jpg") no-repeat center center;
	padding: 50px 0 50px;
	text-align: center;
	z-index: 0;
	background-size: cover;
}
.page-top_volunter{background: rgba(0, 0, 0, 0) url("../img/volunteer.jpg") no-repeat center center;}
.page-top .page-title h2 {
	color: #fff;
}
.dark-translucent {
	position: relative;
}
.dark-translucent::before {
	background-color: rgba(0, 0, 0, 0.78);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.page-title {
}
.page-title h2 {
	color: #2f3436;
	font-family: "Oswald", sans-serif;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 10px;
}
.seperator_inner {
	display: inline-block;
	margin: 10px 0 20px;
	position: relative;
	width: 170px;
}
.seperator_inner::before, .seperator_inner::after {
	border: 1px solid #fff;
	content: "";
	left: 0;
	position: absolute;
	top: 50%;
	width: 27%;
}
.seperator_inner::after {
	left: auto;
	right: 0;
}
.seperator_inner i {
	background: #ffffff none repeat scroll 0 0;
	display: inline-block;
	height: 9px;
	margin: 0 0 0 6px;
	transform: rotate(45deg);
	width: 9px;
}
.seperator_inner i.active {
	background-color: transparent;
	border: 1px solid #fff;
}
ol.breadcrumb {
	background-color: #0F1E4C;
	border-radius: 0;
	margin: 0 auto;
	max-width: 500px;
	padding: 20px 15px;
}
ol.breadcrumb li {
	font-size: 17px;
	color: #337ab7;
}
ol.breadcrumb li.active {
	color: #2f3436;
	font-weight: bold;
}
ol.breadcrumb li + li::before {
	color: #ffffff;
}
ol.breadcrumb li a {
	color: #ffffff;
}

/*ABOUT_inner*/
.list li {
    list-style: none;
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    color:#767676;
}
.list li::before {
    color: #767676;
    content: "\f00c";
    font: 8px/1 FontAwesome;
    left: 0;
    position: absolute;
    top: 4px;
}
.list h1{color: #222;
font-size: 28px;
text-transform: uppercase;
font-family: "Oswald", sans-serif;
}
element {
}
.sec-title span.line {
    background-color: #2f3436;
    height: 5px;
    width: 50px;
}
span.line {
    display: block;
    margin: 15px 0;
}
.Introduction{}
.Introduction h1 {
    color: #222;
    font-size: 28px;
    text-transform: uppercase;
    padding-top: 30px;
    font-family: 'Oswald';
}
.Introduction p{    color: #767676;
    font-weight: 300;
    padding: 15px 0;
    text-align: justify;
    line-height: 27px;
}
.pad_mission {
    padding: 30px 0;
}
.abt_img{margin: 30px 0;}
.mission{border: 1px solid #efefef; margin-bottom: 30px;}
.block-number {
    position: relative;
    font-weight: 700;
    font-size: 60px;
    line-height: 1em;
    color: rgba(0,0,0,0.07);
}
.mission h2 {
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    margin-top: -30px;
    text-transform: capitalize;
    color: #242582;
}
.title {
    color: #767676;
    font-size: 16px;
    
}
/*volunters start*/
.volunter figure { position: relative; border: 1px solid #ccc;
	margin-bottom: 15px;height: auto;overflow: hidden;}
.volunter figure .img { display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
 height: 100%;
}
.volunter figcaption {  width: 100%;
height: 100%;
position: absolute;
top: -100px;
left: 0px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color:rgba(36,37,130, 0.3);
color: #fff;
opacity: 0;
visibility: hidden; 
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;   }
.volunter figcaption h3{  }
.volunter figcaption h3 a{  color: #fff;
	font-size: 20px;
	display: block;
	letter-spacing: 1px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	padding-bottom: 6px;
	margin-bottom: 6px;
}
.volunter figcaption p{  }
.volunter figcaption a.btn { 
border-color: #fff;
border-radius: 0;
background-color: transparent;
margin: 10px 0;
}
.volunter figure:hover .img{  }
.volunter figure:hover figcaption {  top: 0;
opacity: 1;
visibility: visible;
}
.volunter figure figcaption .overlay { 
background-color: rgba(0,0,0,0.5);
width: 100%;
padding: 15px 0;}
.overlay h3 a{text-decoration: none;}
ul.social_link{}
ul.social_link li{display: inline-block; list-style: none;}
ul.social_link li a {
border: 1px solid #fff;
text-decoration: none;
margin: 5px;
padding: 1px;
width: 35px;
display: inline-block;
height: 35px;
line-height: 35px;
text-decoration: none;
}
ul.social_link li a i{color: #fff; font-size: 20px;}
/*volunters end*/
/*recent projects start*/
.volunter figcaption{background-color: rgba(0,0,0,.8);}
.projects_cause figure figcaption .overlay{background-color: transparent;}
.projects_cause figcaption a.btn{background-color: transparent;}
.btn-donate {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    transition: all .8s cubic-bezier(0.4, 0, 1, 1);
}
.projects_cause figcaption a.btn:hover{background-color: #0F1E4C; 
	color: #fff;transition: all .8s cubic-bezier(0.4, 0, 1, 1);
	 border:1px solid #0F1E4C;}
	 .projects_cause figcaption h3 a {
    color: #fff;
    font-size: 25px;
    display: block;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 19px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
/*recent projects end*/
.mid-header .btn {
	display: inline-block;
	background-color: #FBBA05;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 0;
	border: none;
	border-bottom: 5px solid #e2a600;
	margin-left: 10px;
	padding: 7px 15px;
	vertical-align: middle;
	font-weight: 600;
	position: relative;
	overflow: hidden;
	z-index: 2;
}

.mid-header .volunteer-btn {
	background-color: #1c3583;
	border-bottom: 5px solid #0c183e;
}
.mid-header .btn:hover {
	color: #fff;
}
.modal-dialog{width: 80%; margin: 0 auto;}
label{font-weight: normal;}
.margin50{margin-top: 50px;}
/*testimoniaL*/
.testimonial-wrap {
    margin-top: 49px;
}
.testimonial-wrap li {
	list-style: none;
	display: block;
	position: relative;
	padding-left: 90px;
	margin-bottom: 15px;
	color: #333;
}
.testimonial-wrap li span.avtar {
	width: 70px;
	height: 70px;
	line-height: 70px;
	font-size: 32px;
	background-color: #ccc;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -45px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	overflow: hidden;
}
.testimonial-wrap li .testimonials {
	border: 1px solid #ccc;
	padding: 15px 15px;
	position: relative;
	background: transparent;
	min-height: inherit;
}
.testimonial-wrap li .testimonials:before, .testimonial-wrap li .testimonials:after {
	content: "";
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #ccc;
	display: block;
	position: absolute;
	top: 50%;
	left: -10px;
	margin-top: -10px;
}
.testimonial-wrap li .testimonials:after {
	border-right: 10px solid #fff;
	left: -8px;
}
.testimonial-wrap li p {
	font-size: 13px;
	line-height: 22px;
	margin-top: 6px;
}
.testimonial-wrap li .name {
	font-weight: bold;
}
.testimonial-wrap li .date {
	font-size: 12px;
	font-style: italic;
	margin-left: 5px;
	float: right;
}
.review-form {
	border: 1px solid #ccc;
	padding: 20px;
	margin-left: 15px;
	margin-top: 40px;
	background-color: #fff;
	margin-bottom: 50px;
}
.review-form h2.title {
	border-bottom: 1px solid #ccc;
	padding-bottom: 11px;
	margin-bottom: 15px;
	max-width: 100%;
	font-family: "Oswald", sans-serif;
	font-size: 25px;
}
.review-form .form-group {
}
.review-form .form-group label {
	display: inline-block;
	width: 20%;
}
.review-form .form-group label sup, .form-contact .form-group sup, .red {
	color: #F00;
}
.review-form .form-group button {
	float: right;
}
.form-contact .form-group {
}
.form-contact .form-group .form-control {
	border-radius: 0;
	box-shadow: none;
}
/*contact*/
.contact-info {
	margin: 20px 0;
}
.contact-info h3 {
	font-family: "Oswald", sans-serif;
	color: #000;
	margin-bottom: 15px;
}
.contact-info ul {
}
.contact-info ul li {
	list-style: none;
	position: relative;
	padding-left: 50px;
	min-height: 50px;
	font-size: 18px;
	margin-bottom: 9px;
}
.contact-info ul li i {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	border: 1px solid #222;
	text-align: center;
	color: #222;
	font-size: 20px;
	position: absolute;
	top: -2px;
	left: 0;
}
.contact-info ul li a {
}
.contact-form {
	margin-top: 20px;
}
.contact-form .form-control {
	/*font-size: 0.9rem;*/
	border-radius: 0;
	letter-spacing: 1px;
}
.review-form .btn-outline, .contact-form .btn-outline {
	background-color: #0F1E4C;
	color: #ffffff;
	font-weight: normal;
	letter-spacing: 1px;
	border: none;
	cursor: pointer;
}

.masonry-grid .blogpost {
	margin-bottom: 30px;
}
article.blogpost .overlay-container {
	display: block;
	overflow: hidden;
	position: relative;
}
article .overlay {
	background-color: rgba(0, 0, 0, 0.75);
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all 0.2s ease-in-out 0s;
	visibility: hidden;
	width: 100%;
}
article .overlay-links a {
    background-color: #242582;
    color: #fff;
    display: block;
    font-size: 23px;
    height: 50px;
    left: 50%;
    line-height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    top: 50%;
    vertical-align: middle;
    width: 50px;
}
article.blogpost:hover .overlay {
	opacity: 1;
	visibility: visible;
}
/*recent projects*/
.recent_cause ul li{float: left;}
.recent_cause ul li span {
    text-align: left;
    width: 102px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
    float: left;
}
.details{    color: #767676;
    font-weight: 300;
    padding: 15px 0;
    text-align: justify;
    line-height: 27px;
}

.theme li::before {
    color: #767676;
    content: "\f00c";
    font: 8px/1 FontAwesome;
    left: 0;
    position: absolute;
    top: 4px;
}
.margin3{margin-bottom: 10px;}
h1.pad10{padding: 24px 0 11px 0; text-transform: capitalize;}
.margin10{margin:21px  0;}
.margin32{margin:32px 0 0 0;}
h5.Activities{font-size: 20px;font-weight: 300;font-family: oswald;}
p.activities_detail{color: #767676;padding: 12px 0;}

/*button back to project*/
.breadcrumb {
    text-decoration: none !important;
    background-color: #060629;
    color: #ffffff;
    padding: 3px 8px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
}
.breadcrumb::after {
    position: absolute;
    top: 10px;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #060629;
}
.breadcrumb::after {
    display: block;
    clear: both;
    content: "";
}
.breadcrumb:hover {
    color: #cdcdd4;
}
/*button back to project*/
.mid-header .btn {
	display: inline-block;
	background-color: #c31212;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 0;
	border: none;
	border-bottom: 5px solid #fff;
	margin-left: 10px;
	padding: 7px 15px;
	vertical-align: middle;
	font-weight: 600;
	position: relative;
	overflow: hidden;
	z-index: 2;
	margin: 7px 0;
}
.mid-header .btn:before, .mid-header .btn:after {
	position: absolute;
	top: 50%;
	content: '';
	width: 20px;
	height: 20px;
	background-color: #3F86BF;
	border-radius: 50%;
	z-index: -1;
}
.mid-header .btn:before {
	left: -20px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.mid-header .btn:after {
	right: -20px;
	-webkit-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
}
.mid-header .btn:hover {
	color: #e6e1e3;
}
.mid-header .btn:hover:before{
	-webkit-animation: criss-cross-left 0.8s both;
	animation: criss-cross-left 0.8s both;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}
.mid-header .btn:hover:after {
	-webkit-animation: criss-cross-right 0.8s both;
	animation: criss-cross-right 0.8s both;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}
.mid-header .btn i {
	display: inline-block;
	width: 24px;
	vertical-align: middle;
	margin-right: 6px;
}
.mid-header .donate-btn:hover {
	border-bottom: 5px solid #0c183e;
}
.mid-header .volunteer-btn {
    background-color: #1c3583;
    border-bottom: 5px solid #fff;
    margin: 0 20px 0 11px;
}
.mid-header .btn:hover {
	color: #fff;
}
 .mid-header .btn {
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
@-webkit-keyframes criss-cross-left {
 0% {
 left: -20px;
}
 50% {
 left: 50%;
 width: 20px;
 height: 20px;
}
 100% {
 left: 50%;
 width: 375px;
 height: 375px;
}
}
@keyframes criss-cross-left {
 0% {
 left: -20px;
}
 50% {
 left: 50%;
 width: 20px;
 height: 20px;
}
 100% {
 left: 50%;
 width: 375px;
 height: 375px;
}
}
@-webkit-keyframes criss-cross-right {
 0% {
 right: -20px;
}
 50% {
 right: 50%;
 width: 20px;
 height: 20px;
}
 100% {
 right: 50%;
 width: 375px;
 height: 375px;
}
}
@keyframes criss-cross-right {
 0% {
 right: -20px;
}
 50% {
 right: 50%;
 width: 20px;
 height: 20px;
}
 100% {
 right: 50%;
 width: 375px;
 height: 375px;
}
}
/*donate page*/
.innertitle {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
.innertitle span {
	font-size: 15px;
	font-weight: normal;
}
.donation-address { }
.donation-address li{list-style: none;margin-bottom: 10px;}
.donation-address li b{width: 15%;display: inline-block;}
.donation-address li span{display: block;}
.donation-address li a {color: #333;}
.donation-form { border: 1px solid #ccc; padding: 20px;}
.donation-form label {
    width: 12%;
    display: inline-block;
    
    }

.donation-form .form-control {width: 86%;display: inline-block;margin-left: 16px;}
p.line_heght{line-height: 43px;}
/*NEWS*/
.news{margin-bottom:25px;}
.news_img {
    border: 2px solid #f3eaea; 
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    /*box-shadow: -1px -2px 15px 0px #d7d7d7;*/
}
.news_detail {
    display: table-cell;
    vertical-align: top;
    padding: 0 0 0 23px;
}
.news_detail h5 a{
    font-size: 15px;
    color: #222;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    padding: 10px 0;
    display: block;
    text-decoration: none;
}
.news_detail span{color:#666;
font-family: "Oswald", sans-serif;
display: block;
}
.news_detail span i{margin-right:5px;}
.news_detail p{
	color:#767676;
	font-size:13px;
	padding: 4px 0;}
	/*Sidebar Start*/
.sidebar .block {
	border: 1px solid #929292;
	padding: 15px 15px;


	margin-bottom: 15px;
}
.sidebar .block h4 {
	border-bottom: 1px solid #929292;
	padding-bottom: 10px;

	margin-bottom: 10px;
}
.sidebar .block h4 i {
	margin-right: 10px;
}
.block ul li {
	list-style: none;
	display: block;
	border-bottom: 1px solid #929292;
	padding: 4px 0;
}
.block ul li a {
}
.block ul li b {
	display: block;
}
.block ul li:last-child {
	border-bottom: none;
}
.block .newslist ul li {
	list-style: none;
	border-bottom: 1px solid #929292;
	padding-bottom: 8px;
	margin-bottom: 7px;
}
.block .newslist ul li a {
	display: block;
	color: #000000;
	text-decoration: none;
}
.block .newslist ul li a strong {
	font-weight: 600;
	color:#000;
}
.block .newslist ul li small {
	color: #9c9a9a;
	display: block;
	margin-bottom: 2px;
}
.block .newslist ul li p {
}
.block .newslist ul li:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.block .newslist ul li a:hover {
	color: #30b776;
}
.read_btn{margin:27px 0 0 0 ;}
.read_btn a {
    color: #222;
    text-decoration: none;
    font-weight: 600;
}
.news-list {
	position: relative;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 15px;
}
.news-list:last-child {
	border-bottom: none;
}
.news-list .thumbnail {
	width: 100px;
	height: 100px;
	border-radius: 0;
	background-color: #ccc;
	position: absolute;
	left: 0;
	top: 0;
}
.news-list .news-content {
	padding-left: 123px;
}
.news-list .news-content .title {
	margin-bottom: 5px;
}
.news-list .news-content .title a {
	font-size: 20px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
.news-list .news-content small {
	color: #a29f9f;
	font-style: italic;
}
.news-list .news-content p {
}
.news-detail .no-padding {
	padding: 0;
}
.news-detail .image-wrapper {
	width: 100%;
	height: 300px;
	background-color: #ccc;
	margin: 15px 0;
}
.news-detail {
	border-bottom: none;
}
ul.list li {
	list-style: none;
	display: block;
	position: relative;
	margin: 10px 0px;
}
ul.list li:before {
	content: "\f105";
	font-family: FontAwesome;
	padding-right: 10px;
}
.title1{margin: 0;}